body {
    margin: 0px;
    padding: 0px;
}
  
a {
    text-decoration: none;
}

.container{
    margin: 50px 50px;
   
    h1{
        color:#191a19;
        text-align: center;
        font-size:  40px;
        margin-bottom: 10px;
        font-weight: bold;

    }
    p{
        color:black;
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: bold;

    }
    .Date{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .conversion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 100px;

        .input-group1{
            justify-content: right;
            padding: 5px 30px;
            .input{
                padding: 5px 30px;
                text-align: center;
                background-color: cadetblue;
                border-radius: 4px;
                font-size: 18px;
                border-color: cornsilk;
            }

        }
        .input-group2{
            justify-content: left;
            padding: 5px 30px;
            .output{
                padding: 5px 30px;
                text-align: center;
                background-color: cadetblue;
                border-radius: 4px;
                font-size: 18px;
                border-color: cornsilk;
            }

        }
        .to {
            align-content: flex-end;

            
            h3{
                font-size: 30px;
            }
        }



    }
    .inputVal{
        margin:10px 10px;
        display: flex;
        justify-content: center;
        .input-group.mb-3{
            padding: 5px 0px;
            width: 80%;
        }
    }
    .submit{
        display: flex;
        justify-content: center;
        #submit{
            text-align: center;
            padding: 7px 35px;
            text-align: center;
            background-color: cadetblue;
            border-radius: 4px;
            font-size: 16px;
            border-color: cornsilk;
            color: black;
            margin-bottom: 10px;  
            font-weight: bold;  
        }
    }
    .result{
        display: flex;
        justify-content: center;
        margin:10px 10px;
        .input-group.mb-3{
            padding: 5px 0px;
            width: 80%;
        }
    }
    .changebackground{
        margin:10px 10px;
        h2{
            font-size: 20px;
            margin-top: 5px;
        }
        .colorIn{
            display: flex;
            justify-content: center;
            .input-group.mb-3{
                padding: 10px 0px;
                width: 80%;
            }
        }
        .change{
            display: flex;
            justify-content: center;

            #backgroundChange{
                background-color: cadetblue;
                color: black;
                font-weight: bold;
                padding: 5px 30px;
            }
        }
    }
}